{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/mael-balland-yZI3mw9p7oE-unsplash.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am like this child, on the road of the life, curious, climbing some rocks and exploring different ways, enjoying learning new things.</p>
        <p>Interested in education, science and computers since my childhood, I have studied all of that. I had to choose a path, so I decided to become a teacher. After a good experience, I wanted to make a new career and become a programmer.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}